<p>Hola! It's <%= Time.now %></p>
<p><%= @agent %></p>
<p><%= @client_ip %></p>
<p><%= @domain %></p>
<p><%= link_to 'Hello!', welcome_say_hello_path %></p>
<p><%= link_to 'Hell!', welcome1_say_go_the_hell_path %></p>
